<div class="container mx-auto">
  <p class="mt-4 text-[2rem] font-semibold leading-10 tracking-tighter text-zinc-900">
    Stable-Diffusion Visual Prompts
  </p>
  <p class="mt-2 text-base leading-7 text-zinc-600">
    Explore the world of art and design with Stable-Diffusion Visual Prompts. Simply select your favorite styles, artists, and themes to create dynamic visual prompts that inspire and challenge your creativity. With our interactive tool, the possibilities for stable diffusion and artistic growth are endless.
  </p>

  <div class="choice mt-8">
    <p class="text-2xl font-semibold tracking-tighter text-zinc-900">
      Choose a style:
    </p>
    <div class="grid-list mt-4 grid gap-4 mx-auto place-content-center">
      <.style_card
        image="/images/styles/2049463893_a_red_apple_in_the_center__abstract_art_style.png"
        title="Abstract art"
      />
      <.style_card
        image="/images/styles/146638268_a_red_apple_in_the_center__realism_art_style.png"
        title="Realism"
      />
      <.style_card
        image="/images/styles/3021263867_a_red_apple_in_the_center__impressionism_art_style.png"
        title="Impressionism"
      />
      <.style_card
        image="/images/styles/1996924734_a_red_apple_in_the_center__expressionism_art_style.png"
        title="Expressionism"
      />
      <.style_card
        image="/images/styles/1178739693_a_red_apple_in_the_center__surrealism_art_style.png"
        title="Surrealism"
      />
      <.style_card
        image="/images/styles/3416800095_a_red_apple_in_the_center__pop_art_style.png"
        title="Pop art"
      />
      <.style_card
        image="/images/styles/969685778_a_red_apple_in_the_center__minimalism_art_style.png"
        title="Minimalism"
      />
      <.style_card
        image="/images/styles/1117121618_a_red_apple_in_the_center__futurism_art_style.png"
        title="Futurism"
      />
      <.style_card
        image="/images/styles/1891420396_a_red_apple_in_the_center__cubism_art_style.png"
        title="Cubism"
      />
      <.style_card
        image="/images/styles/1195082908_a_red_apple_in_the_center__fauvism_art_style.png"
        title="Fauvism"
      />
    </div>
  </div>
</div>
